.navbar {
    min-height: 50px;
    /* background-color: var(--blue); */
    background: white;
    display: flex;
    align-items: center;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
}

.navbar .nav-links .nav-item{
    padding: 10px;
}
.navbar .nav-links .nav-item:hover.nav-brand{
    background-color: transparent;
}

.navbar .nav-links .nav-item .nav-link{
    /* color: white; */
    color: var(--blue);
    text-decoration: none;
}

.navbar .nav-links .nav-item.nav-brand {
    padding: 15px 20px;
}
.navbar .nav-brand a{
    font-family: FranklinGothicDemi;
    font-size: 20px;
}

.navbar .nav-links .nav-item.nav-btn:hover{
    background-color: transparent;
}

.navbar .nav-links .nav-item.nav-btn .btn-sm{
    color: white;
    text-decoration: none;
    border-radius: 6px;
    background-color: orange;
    padding: 8px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .navbar > .container{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .nav-links.float-md-right{
        margin-right: 10px;
    }
    .navbar .nav-links .nav-item.nav-btn .btn-sm{
        padding: 9px 20px;
        font-size: 12px;
    }
}

@media screen and (max-width:575px) {
    .navbar .nav-links .nav-item.nav-btn .btn-sm{
        padding: 9px 20px;
        font-size: 10px;
    }
}